<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WELCOME</title>
  </head>
  <body>
    <h1>Search for your movie</h1>
    <form action="/result" method="GET">
      <input type="text" name="movie" placeholder="search term">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
